In [ ]:
Pandas
also called panel data
to handle heterogeneous data
make in a table format for easy understanding and manipulation of data

# Series- Creating


    1. using list
        pd.Series([3,4,5,33,6])
    2. using numpy
        b= np.array([1,2,3,4,5])
        a=pd.Series(b)
        a
    3. using dictionaries
        b={'0': 'zero','1':'one','2':'two','3':'three','4':'four','5':'five'}
        pd.Series(b)
    4. using scalar value
        pd.Series(10,index=[0,1,2,3,4])

# Declare Index Initially and access element

In [ ]:
pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

TO ACCESS
1. data=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
      data[1] using the index number or
      data[a] using the label
      data[1:4] using index slicing
      data['a':'b'] using label slicing
2. using iloc
      iloc uses index number to slice or access the data
      data.iloc[1:4] slicing
      data.iloc[4]
      data[row1:row3,column1:column4] -to access the matrix- slicing 
3. using loc
      loc uses labels to slice or access- loc doesnt access based on index number
      data.loc['a':'b']
      data.loc[1:4]
      loc function counts even the last number provided
      ie, in above example, 1,2,3 and 4 is accessed

# Reindex

# Vector Operators

In [ ]:
print(data*2)
print(data+7)
print(data-3)
print(data/2)

or
in case of multiple data

print(data1+data2)
print(data1*data2)
print(data1-data2)
print(data1/data2)

# Mathematical operations

In [ ]:
add()- add series or list like object with same length
sub()-subtract series or list like object with same length
mul()- multiply series or list like objects with same length
div()- divide series or list like objects with same length
sum()- sum of values for requested axis
prod()-product of values for requested axis
mean()- mean values
abs()- to get absolute numeric value of each element in series/dataframe
cov()- to find covariance of two series

# Null Value Manipulations

1.isnull()- to check if null
    data.isnull()
2.isna()- to check if null
    data.isnull()
3.fillna()- to fill a null value
    data.fillna()
4.dropna()- to drop null value
    data.dropna()

# DataFrame

A Data frame is a two-dimensional data structure, 
i.e., data is aligned in a tabular fashion in rows and columns. 
Pandas DataFrame consists of three principal components, the data, rows, and columns.